<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.gas_silverbolt.GasMarketGiveDAO">
  <resultMap id="BaseResultMap" type="dal.model.gas_silverbolt.GasMarketGiveDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gid" jdbcType="VARCHAR" property="gid" />
    <result column="partner_id" jdbcType="VARCHAR" property="partnerId" />
    <result column="partner_name" jdbcType="VARCHAR" property="partnerName" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="give_type" jdbcType="VARCHAR" property="giveType" />
    <result column="give_person_type" jdbcType="VARCHAR" property="givePersonType" />
    <result column="biz_no" jdbcType="VARCHAR" property="bizNo" />
    <result column="campaign_no" jdbcType="VARCHAR" property="campaignNo" />
    <result column="campaign_name" jdbcType="VARCHAR" property="campaignName" />
    <result column="rule_id" jdbcType="BIGINT" property="ruleId" />
    <result column="definition_id" jdbcType="VARCHAR" property="definitionId" />
    <result column="definition_name" jdbcType="VARCHAR" property="definitionName" />
    <result column="favour_amount" jdbcType="DECIMAL" property="favourAmount" />
    <result column="give_num" jdbcType="DECIMAL" property="giveNum" />
    <result column="give_time" jdbcType="TIMESTAMP" property="giveTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="member_type" jdbcType="VARCHAR" property="memberType" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="station_id" jdbcType="VARCHAR" property="stationId" />
    <result column="station_code" jdbcType="VARCHAR" property="stationCode" />
    <result column="station_name" jdbcType="VARCHAR" property="stationName" />
    <result column="operate_id" jdbcType="VARCHAR" property="operateId" />
    <result column="operate_name" jdbcType="VARCHAR" property="operateName" />
    <result column="terminal_type" jdbcType="VARCHAR" property="terminalType" />
    <result column="terminal_code" jdbcType="VARCHAR" property="terminalCode" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="raw_add_time" jdbcType="TIMESTAMP" property="rawAddTime" />
    <result column="raw_update_time" jdbcType="TIMESTAMP" property="rawUpdateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, gid, partner_id, partner_name, source_type, give_type, give_person_type, biz_no, 
    campaign_no, campaign_name, rule_id, definition_id, definition_name, favour_amount, 
    give_num, give_time, user_id, real_name, nick_name, member_type, mobile, station_id, 
    station_code, station_name, operate_id, operate_name, terminal_type, terminal_code, 
    memo, status, raw_add_time, raw_update_time
  </sql>
  <select id="selectByExample" parameterType="dal.model.gas_silverbolt.GasMarketGiveDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gas_market_give
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.gas_silverbolt.GasMarketGiveDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from gas_market_give
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.gas_silverbolt.GasMarketGiveDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from gas_market_give
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update gas_market_give
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gid != null">
        gid = #{record.gid,jdbcType=VARCHAR},
      </if>
      <if test="record.partnerId != null">
        partner_id = #{record.partnerId,jdbcType=VARCHAR},
      </if>
      <if test="record.partnerName != null">
        partner_name = #{record.partnerName,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceType != null">
        source_type = #{record.sourceType,jdbcType=VARCHAR},
      </if>
      <if test="record.giveType != null">
        give_type = #{record.giveType,jdbcType=VARCHAR},
      </if>
      <if test="record.givePersonType != null">
        give_person_type = #{record.givePersonType,jdbcType=VARCHAR},
      </if>
      <if test="record.bizNo != null">
        biz_no = #{record.bizNo,jdbcType=VARCHAR},
      </if>
      <if test="record.campaignNo != null">
        campaign_no = #{record.campaignNo,jdbcType=VARCHAR},
      </if>
      <if test="record.campaignName != null">
        campaign_name = #{record.campaignName,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleId != null">
        rule_id = #{record.ruleId,jdbcType=BIGINT},
      </if>
      <if test="record.definitionId != null">
        definition_id = #{record.definitionId,jdbcType=VARCHAR},
      </if>
      <if test="record.definitionName != null">
        definition_name = #{record.definitionName,jdbcType=VARCHAR},
      </if>
      <if test="record.favourAmount != null">
        favour_amount = #{record.favourAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.giveNum != null">
        give_num = #{record.giveNum,jdbcType=DECIMAL},
      </if>
      <if test="record.giveTime != null">
        give_time = #{record.giveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null">
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.nickName != null">
        nick_name = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberType != null">
        member_type = #{record.memberType,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.stationId != null">
        station_id = #{record.stationId,jdbcType=VARCHAR},
      </if>
      <if test="record.stationCode != null">
        station_code = #{record.stationCode,jdbcType=VARCHAR},
      </if>
      <if test="record.stationName != null">
        station_name = #{record.stationName,jdbcType=VARCHAR},
      </if>
      <if test="record.operateId != null">
        operate_id = #{record.operateId,jdbcType=VARCHAR},
      </if>
      <if test="record.operateName != null">
        operate_name = #{record.operateName,jdbcType=VARCHAR},
      </if>
      <if test="record.terminalType != null">
        terminal_type = #{record.terminalType,jdbcType=VARCHAR},
      </if>
      <if test="record.terminalCode != null">
        terminal_code = #{record.terminalCode,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null">
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null">
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update gas_market_give
    set id = #{record.id,jdbcType=BIGINT},
      gid = #{record.gid,jdbcType=VARCHAR},
      partner_id = #{record.partnerId,jdbcType=VARCHAR},
      partner_name = #{record.partnerName,jdbcType=VARCHAR},
      source_type = #{record.sourceType,jdbcType=VARCHAR},
      give_type = #{record.giveType,jdbcType=VARCHAR},
      give_person_type = #{record.givePersonType,jdbcType=VARCHAR},
      biz_no = #{record.bizNo,jdbcType=VARCHAR},
      campaign_no = #{record.campaignNo,jdbcType=VARCHAR},
      campaign_name = #{record.campaignName,jdbcType=VARCHAR},
      rule_id = #{record.ruleId,jdbcType=BIGINT},
      definition_id = #{record.definitionId,jdbcType=VARCHAR},
      definition_name = #{record.definitionName,jdbcType=VARCHAR},
      favour_amount = #{record.favourAmount,jdbcType=DECIMAL},
      give_num = #{record.giveNum,jdbcType=DECIMAL},
      give_time = #{record.giveTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=VARCHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      nick_name = #{record.nickName,jdbcType=VARCHAR},
      member_type = #{record.memberType,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      station_id = #{record.stationId,jdbcType=VARCHAR},
      station_code = #{record.stationCode,jdbcType=VARCHAR},
      station_name = #{record.stationName,jdbcType=VARCHAR},
      operate_id = #{record.operateId,jdbcType=VARCHAR},
      operate_name = #{record.operateName,jdbcType=VARCHAR},
      terminal_type = #{record.terminalType,jdbcType=VARCHAR},
      terminal_code = #{record.terminalCode,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>