<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.trade.TraTradeProfitDAO">
  <resultMap id="BaseResultMap" type="dal.model.trade.TraTradeProfitDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="gid" jdbcType="VARCHAR" property="gid" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="merch_order_no" jdbcType="VARCHAR" property="merchOrderNo" />
    <result column="payee_account_no" jdbcType="VARCHAR" property="payeeAccountNo" />
    <result column="payee_merch_user_id" jdbcType="VARCHAR" property="payeeMerchUserId" />
    <result column="payee_user_id" jdbcType="VARCHAR" property="payeeUserId" />
    <result column="payer_account_no" jdbcType="VARCHAR" property="payerAccountNo" />
    <result column="payer_merch_user_id" jdbcType="VARCHAR" property="payerMerchUserId" />
    <result column="payer_user_id" jdbcType="VARCHAR" property="payerUserId" />
    <result column="profit_merch_order_no" jdbcType="VARCHAR" property="profitMerchOrderNo" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="trade_memo" jdbcType="VARCHAR" property="tradeMemo" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, create_time, update_time, amount, gid, memo, merch_order_no, payee_account_no, 
    payee_merch_user_id, payee_user_id, payer_account_no, payer_merch_user_id, payer_user_id, 
    profit_merch_order_no, status, trade_memo, trade_no
  </sql>
  <select id="selectByExample" parameterType="dal.model.trade.TraTradeProfitDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tra_trade_profit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.trade.TraTradeProfitDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from tra_trade_profit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.trade.TraTradeProfitDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from tra_trade_profit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update tra_trade_profit
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.gid != null">
        gid = #{record.gid,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.merchOrderNo != null">
        merch_order_no = #{record.merchOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.payeeAccountNo != null">
        payee_account_no = #{record.payeeAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.payeeMerchUserId != null">
        payee_merch_user_id = #{record.payeeMerchUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.payeeUserId != null">
        payee_user_id = #{record.payeeUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.payerAccountNo != null">
        payer_account_no = #{record.payerAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.payerMerchUserId != null">
        payer_merch_user_id = #{record.payerMerchUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.payerUserId != null">
        payer_user_id = #{record.payerUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.profitMerchOrderNo != null">
        profit_merch_order_no = #{record.profitMerchOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeMemo != null">
        trade_memo = #{record.tradeMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeNo != null">
        trade_no = #{record.tradeNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update tra_trade_profit
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      amount = #{record.amount,jdbcType=DECIMAL},
      gid = #{record.gid,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      merch_order_no = #{record.merchOrderNo,jdbcType=VARCHAR},
      payee_account_no = #{record.payeeAccountNo,jdbcType=VARCHAR},
      payee_merch_user_id = #{record.payeeMerchUserId,jdbcType=VARCHAR},
      payee_user_id = #{record.payeeUserId,jdbcType=VARCHAR},
      payer_account_no = #{record.payerAccountNo,jdbcType=VARCHAR},
      payer_merch_user_id = #{record.payerMerchUserId,jdbcType=VARCHAR},
      payer_user_id = #{record.payerUserId,jdbcType=VARCHAR},
      profit_merch_order_no = #{record.profitMerchOrderNo,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      trade_memo = #{record.tradeMemo,jdbcType=VARCHAR},
      trade_no = #{record.tradeNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>