<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.cashier.SettleChannelDAO">
  <resultMap id="BaseResultMap" type="dal.model.cashier.SettleChannelDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="settle_channel_id" jdbcType="VARCHAR" property="settleChannelId" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="pay_channel_id" jdbcType="VARCHAR" property="payChannelId" />
    <result column="settle_channel_name" jdbcType="VARCHAR" property="settleChannelName" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="rate_type" jdbcType="VARCHAR" property="rateType" />
    <result column="rate" jdbcType="INTEGER" property="rate" />
    <result column="syn_time_delay" jdbcType="INTEGER" property="synTimeDelay" />
    <result column="syn_tps" jdbcType="INTEGER" property="synTps" />
    <result column="asyn_time_delay" jdbcType="INTEGER" property="asynTimeDelay" />
    <result column="retry_type" jdbcType="VARCHAR" property="retryType" />
    <result column="metaDatas" jdbcType="VARCHAR" property="metadatas" />
    <result column="max_ceiling" jdbcType="BIGINT" property="maxCeiling" />
    <result column="raw_add_time" jdbcType="TIMESTAMP" property="rawAddTime" />
    <result column="raw_update_time" jdbcType="TIMESTAMP" property="rawUpdateTime" />
    <result column="mark_delete" jdbcType="CHAR" property="markDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, settle_channel_id, channel_id, channel_name, pay_channel_id, settle_channel_name, 
    state, rate_type, rate, syn_time_delay, syn_tps, asyn_time_delay, retry_type, metaDatas, 
    max_ceiling, raw_add_time, raw_update_time, mark_delete
  </sql>
  <select id="selectByExample" parameterType="dal.model.cashier.SettleChannelDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from settle_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.cashier.SettleChannelDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from settle_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.cashier.SettleChannelDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from settle_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update settle_channel
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.settleChannelId != null">
        settle_channel_id = #{record.settleChannelId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelId != null">
        channel_id = #{record.channelId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelName != null">
        channel_name = #{record.channelName,jdbcType=VARCHAR},
      </if>
      <if test="record.payChannelId != null">
        pay_channel_id = #{record.payChannelId,jdbcType=VARCHAR},
      </if>
      <if test="record.settleChannelName != null">
        settle_channel_name = #{record.settleChannelName,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.rateType != null">
        rate_type = #{record.rateType,jdbcType=VARCHAR},
      </if>
      <if test="record.rate != null">
        rate = #{record.rate,jdbcType=INTEGER},
      </if>
      <if test="record.synTimeDelay != null">
        syn_time_delay = #{record.synTimeDelay,jdbcType=INTEGER},
      </if>
      <if test="record.synTps != null">
        syn_tps = #{record.synTps,jdbcType=INTEGER},
      </if>
      <if test="record.asynTimeDelay != null">
        asyn_time_delay = #{record.asynTimeDelay,jdbcType=INTEGER},
      </if>
      <if test="record.retryType != null">
        retry_type = #{record.retryType,jdbcType=VARCHAR},
      </if>
      <if test="record.metadatas != null">
        metaDatas = #{record.metadatas,jdbcType=VARCHAR},
      </if>
      <if test="record.maxCeiling != null">
        max_ceiling = #{record.maxCeiling,jdbcType=BIGINT},
      </if>
      <if test="record.rawAddTime != null">
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null">
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.markDelete != null">
        mark_delete = #{record.markDelete,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update settle_channel
    set id = #{record.id,jdbcType=BIGINT},
      settle_channel_id = #{record.settleChannelId,jdbcType=VARCHAR},
      channel_id = #{record.channelId,jdbcType=VARCHAR},
      channel_name = #{record.channelName,jdbcType=VARCHAR},
      pay_channel_id = #{record.payChannelId,jdbcType=VARCHAR},
      settle_channel_name = #{record.settleChannelName,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=CHAR},
      rate_type = #{record.rateType,jdbcType=VARCHAR},
      rate = #{record.rate,jdbcType=INTEGER},
      syn_time_delay = #{record.synTimeDelay,jdbcType=INTEGER},
      syn_tps = #{record.synTps,jdbcType=INTEGER},
      asyn_time_delay = #{record.asynTimeDelay,jdbcType=INTEGER},
      retry_type = #{record.retryType,jdbcType=VARCHAR},
      metaDatas = #{record.metadatas,jdbcType=VARCHAR},
      max_ceiling = #{record.maxCeiling,jdbcType=BIGINT},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      mark_delete = #{record.markDelete,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>