<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.squid.TDepositOrderDAO">
  <resultMap id="BaseResultMap" type="dal.model.squid.TDepositOrderDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ENTITY_ID" jdbcType="VARCHAR" property="entityId" />
    <result column="CUSTOMER_ID" jdbcType="VARCHAR" property="customerId" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="PAY_NO" jdbcType="VARCHAR" property="payNo" />
    <result column="PREPAY_NO" jdbcType="VARCHAR" property="prepayNo" />
    <result column="REFUELING_ORDER_NO" jdbcType="VARCHAR" property="refuelingOrderNo" />
    <result column="QUICK_REFUELING" jdbcType="CHAR" property="quickRefueling" />
    <result column="AMOUNT" jdbcType="BIGINT" property="amount" />
    <result column="PAY_MODE" jdbcType="VARCHAR" property="payMode" />
    <result column="DEPOSIT_DATE" jdbcType="TIMESTAMP" property="depositDate" />
    <result column="FINISH_DATE" jdbcType="TIMESTAMP" property="finishDate" />
    <result column="OIL_NO" jdbcType="VARCHAR" property="oilNo" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="INVOICED_AMOUNT" jdbcType="BIGINT" property="invoicedAmount" />
    <result column="PHONE_NO" jdbcType="VARCHAR" property="phoneNo" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="MODIFIED_DATE" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="CREATED_USER" jdbcType="VARCHAR" property="createdUser" />
    <result column="UPDATED_USER" jdbcType="VARCHAR" property="updatedUser" />
    <result column="VERSION_ID" jdbcType="INTEGER" property="versionId" />
    <result column="MARK_DELETE" jdbcType="CHAR" property="markDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ENTITY_ID, CUSTOMER_ID, ACCOUNT_ID, ORDER_NO, PAY_NO, PREPAY_NO, REFUELING_ORDER_NO, 
    QUICK_REFUELING, AMOUNT, PAY_MODE, DEPOSIT_DATE, FINISH_DATE, OIL_NO, STATUS, INVOICED_AMOUNT, 
    PHONE_NO, NICKNAME, SOURCE, CREATED_DATE, MODIFIED_DATE, CREATED_USER, UPDATED_USER, 
    VERSION_ID, MARK_DELETE
  </sql>
  <select id="selectByExample" parameterType="dal.model.squid.TDepositOrderDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_deposit_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.squid.TDepositOrderDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from t_deposit_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.squid.TDepositOrderDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from t_deposit_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update t_deposit_order
    <set>
      <if test="record.entityId != null">
        ENTITY_ID = #{record.entityId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null">
        CUSTOMER_ID = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null">
        ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.payNo != null">
        PAY_NO = #{record.payNo,jdbcType=VARCHAR},
      </if>
      <if test="record.prepayNo != null">
        PREPAY_NO = #{record.prepayNo,jdbcType=VARCHAR},
      </if>
      <if test="record.refuelingOrderNo != null">
        REFUELING_ORDER_NO = #{record.refuelingOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.quickRefueling != null">
        QUICK_REFUELING = #{record.quickRefueling,jdbcType=CHAR},
      </if>
      <if test="record.amount != null">
        AMOUNT = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.payMode != null">
        PAY_MODE = #{record.payMode,jdbcType=VARCHAR},
      </if>
      <if test="record.depositDate != null">
        DEPOSIT_DATE = #{record.depositDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishDate != null">
        FINISH_DATE = #{record.finishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oilNo != null">
        OIL_NO = #{record.oilNo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.invoicedAmount != null">
        INVOICED_AMOUNT = #{record.invoicedAmount,jdbcType=BIGINT},
      </if>
      <if test="record.phoneNo != null">
        PHONE_NO = #{record.phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null">
        SOURCE = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDate != null">
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedDate != null">
        MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdUser != null">
        CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedUser != null">
        UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      </if>
      <if test="record.versionId != null">
        VERSION_ID = #{record.versionId,jdbcType=INTEGER},
      </if>
      <if test="record.markDelete != null">
        MARK_DELETE = #{record.markDelete,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update t_deposit_order
    set ENTITY_ID = #{record.entityId,jdbcType=VARCHAR},
      CUSTOMER_ID = #{record.customerId,jdbcType=VARCHAR},
      ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      PAY_NO = #{record.payNo,jdbcType=VARCHAR},
      PREPAY_NO = #{record.prepayNo,jdbcType=VARCHAR},
      REFUELING_ORDER_NO = #{record.refuelingOrderNo,jdbcType=VARCHAR},
      QUICK_REFUELING = #{record.quickRefueling,jdbcType=CHAR},
      AMOUNT = #{record.amount,jdbcType=BIGINT},
      PAY_MODE = #{record.payMode,jdbcType=VARCHAR},
      DEPOSIT_DATE = #{record.depositDate,jdbcType=TIMESTAMP},
      FINISH_DATE = #{record.finishDate,jdbcType=TIMESTAMP},
      OIL_NO = #{record.oilNo,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      INVOICED_AMOUNT = #{record.invoicedAmount,jdbcType=BIGINT},
      PHONE_NO = #{record.phoneNo,jdbcType=VARCHAR},
      NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      SOURCE = #{record.source,jdbcType=VARCHAR},
      CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      VERSION_ID = #{record.versionId,jdbcType=INTEGER},
      MARK_DELETE = #{record.markDelete,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>