<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.fkd.MayaSaleDetailDAO">
  <resultMap id="BaseResultMap" type="dal.model.fkd.MayaSaleDetailDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="BIZ_ID" jdbcType="BIGINT" property="bizId" />
    <result column="HOUSE_ID" jdbcType="BIGINT" property="houseId" />
    <result column="SALE_PRICE" jdbcType="DOUBLE" property="salePrice" />
    <result column="DOWN_PAYMENT" jdbcType="DOUBLE" property="downPayment" />
    <result column="LOAN_PAYMENT" jdbcType="DOUBLE" property="loanPayment" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="MODIFIED_DATE" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="CREATED_USER" jdbcType="VARCHAR" property="createdUser" />
    <result column="UPDATED_USER" jdbcType="VARCHAR" property="updatedUser" />
    <result column="MARK_DELETE" jdbcType="CHAR" property="markDelete" />
    <result column="VERSION_ID" jdbcType="INTEGER" property="versionId" />
    <result column="INSIDE_PRICE" jdbcType="DOUBLE" property="insidePrice" />
    <result column="BUILD_PRICE" jdbcType="DOUBLE" property="buildPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, BIZ_ID, HOUSE_ID, SALE_PRICE, DOWN_PAYMENT, LOAN_PAYMENT, CREATED_DATE, MODIFIED_DATE, 
    CREATED_USER, UPDATED_USER, MARK_DELETE, VERSION_ID, INSIDE_PRICE, BUILD_PRICE
  </sql>
  <select id="selectByExample" parameterType="dal.model.fkd.MayaSaleDetailDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from maya_sale_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.fkd.MayaSaleDetailDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from maya_sale_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.fkd.MayaSaleDetailDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from maya_sale_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update maya_sale_detail
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.bizId != null">
        BIZ_ID = #{record.bizId,jdbcType=BIGINT},
      </if>
      <if test="record.houseId != null">
        HOUSE_ID = #{record.houseId,jdbcType=BIGINT},
      </if>
      <if test="record.salePrice != null">
        SALE_PRICE = #{record.salePrice,jdbcType=DOUBLE},
      </if>
      <if test="record.downPayment != null">
        DOWN_PAYMENT = #{record.downPayment,jdbcType=DOUBLE},
      </if>
      <if test="record.loanPayment != null">
        LOAN_PAYMENT = #{record.loanPayment,jdbcType=DOUBLE},
      </if>
      <if test="record.createdDate != null">
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedDate != null">
        MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdUser != null">
        CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedUser != null">
        UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      </if>
      <if test="record.markDelete != null">
        MARK_DELETE = #{record.markDelete,jdbcType=CHAR},
      </if>
      <if test="record.versionId != null">
        VERSION_ID = #{record.versionId,jdbcType=INTEGER},
      </if>
      <if test="record.insidePrice != null">
        INSIDE_PRICE = #{record.insidePrice,jdbcType=DOUBLE},
      </if>
      <if test="record.buildPrice != null">
        BUILD_PRICE = #{record.buildPrice,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update maya_sale_detail
    set ID = #{record.id,jdbcType=BIGINT},
      BIZ_ID = #{record.bizId,jdbcType=BIGINT},
      HOUSE_ID = #{record.houseId,jdbcType=BIGINT},
      SALE_PRICE = #{record.salePrice,jdbcType=DOUBLE},
      DOWN_PAYMENT = #{record.downPayment,jdbcType=DOUBLE},
      LOAN_PAYMENT = #{record.loanPayment,jdbcType=DOUBLE},
      CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      MARK_DELETE = #{record.markDelete,jdbcType=CHAR},
      VERSION_ID = #{record.versionId,jdbcType=INTEGER},
      INSIDE_PRICE = #{record.insidePrice,jdbcType=DOUBLE},
      BUILD_PRICE = #{record.buildPrice,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>