<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.fkd.MCityDAO">
  <resultMap id="BaseResultMap" type="dal.model.fkd.MCityDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ENTITY_ID" jdbcType="BIGINT" property="entityId" />
    <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
    <result column="CITY_PINYIN" jdbcType="VARCHAR" property="cityPinyin" />
    <result column="CITY_CHAR" jdbcType="VARCHAR" property="cityChar" />
    <result column="PROVINCE_ID" jdbcType="DECIMAL" property="provinceId" />
    <result column="CITY_FLAG" jdbcType="CHAR" property="cityFlag" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="MODIFIED_DATE" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="CREATED_USER" jdbcType="VARCHAR" property="createdUser" />
    <result column="UPDATED_USER" jdbcType="VARCHAR" property="updatedUser" />
    <result column="VERSION_ID" jdbcType="INTEGER" property="versionId" />
    <result column="MARK_DELETE" jdbcType="CHAR" property="markDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ENTITY_ID, CITY_NAME, CITY_PINYIN, CITY_CHAR, PROVINCE_ID, CITY_FLAG, CREATED_DATE, 
    MODIFIED_DATE, CREATED_USER, UPDATED_USER, VERSION_ID, MARK_DELETE
  </sql>
  <select id="selectByExample" parameterType="dal.model.fkd.MCityDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from m_city
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.fkd.MCityDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from m_city
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.fkd.MCityDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from m_city
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update m_city
    <set>
      <if test="record.entityId != null">
        ENTITY_ID = #{record.entityId,jdbcType=BIGINT},
      </if>
      <if test="record.cityName != null">
        CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.cityPinyin != null">
        CITY_PINYIN = #{record.cityPinyin,jdbcType=VARCHAR},
      </if>
      <if test="record.cityChar != null">
        CITY_CHAR = #{record.cityChar,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceId != null">
        PROVINCE_ID = #{record.provinceId,jdbcType=DECIMAL},
      </if>
      <if test="record.cityFlag != null">
        CITY_FLAG = #{record.cityFlag,jdbcType=CHAR},
      </if>
      <if test="record.createdDate != null">
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedDate != null">
        MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdUser != null">
        CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedUser != null">
        UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      </if>
      <if test="record.versionId != null">
        VERSION_ID = #{record.versionId,jdbcType=INTEGER},
      </if>
      <if test="record.markDelete != null">
        MARK_DELETE = #{record.markDelete,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update m_city
    set ENTITY_ID = #{record.entityId,jdbcType=BIGINT},
      CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      CITY_PINYIN = #{record.cityPinyin,jdbcType=VARCHAR},
      CITY_CHAR = #{record.cityChar,jdbcType=VARCHAR},
      PROVINCE_ID = #{record.provinceId,jdbcType=DECIMAL},
      CITY_FLAG = #{record.cityFlag,jdbcType=CHAR},
      CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      VERSION_ID = #{record.versionId,jdbcType=INTEGER},
      MARK_DELETE = #{record.markDelete,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>