<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.clear.ClearDsgjTaskLogDAO">
  <resultMap id="BaseResultMap" type="dal.model.clear.ClearDsgjTaskLogDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gid" jdbcType="VARCHAR" property="gid" />
    <result column="biz_no" jdbcType="VARCHAR" property="bizNo" />
    <result column="plat_partner_id" jdbcType="VARCHAR" property="platPartnerId" />
    <result column="plat_partner_real_name" jdbcType="VARCHAR" property="platPartnerRealName" />
    <result column="clear_date" jdbcType="VARCHAR" property="clearDate" />
    <result column="clear_file_name" jdbcType="VARCHAR" property="clearFileName" />
    <result column="clear_result_file_name" jdbcType="VARCHAR" property="clearResultFileName" />
    <result column="clear_status" jdbcType="VARCHAR" property="clearStatus" />
    <result column="file_status" jdbcType="VARCHAR" property="fileStatus" />
    <result column="clear_time" jdbcType="TIMESTAMP" property="clearTime" />
    <result column="request_time" jdbcType="TIMESTAMP" property="requestTime" />
    <result column="raw_add_time" jdbcType="TIMESTAMP" property="rawAddTime" />
    <result column="raw_update_time" jdbcType="TIMESTAMP" property="rawUpdateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.clear.ClearDsgjTaskLogDO">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, gid, biz_no, plat_partner_id, plat_partner_real_name, clear_date, clear_file_name, 
    clear_result_file_name, clear_status, file_status, clear_time, request_time, raw_add_time, 
    raw_update_time
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    comment
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="dal.model.clear.ClearDsgjTaskLogDOExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from clear_dsgj_task_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="dal.model.clear.ClearDsgjTaskLogDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clear_dsgj_task_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.clear.ClearDsgjTaskLogDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from clear_dsgj_task_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.clear.ClearDsgjTaskLogDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from clear_dsgj_task_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update clear_dsgj_task_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gid != null">
        gid = #{record.gid,jdbcType=VARCHAR},
      </if>
      <if test="record.bizNo != null">
        biz_no = #{record.bizNo,jdbcType=VARCHAR},
      </if>
      <if test="record.platPartnerId != null">
        plat_partner_id = #{record.platPartnerId,jdbcType=VARCHAR},
      </if>
      <if test="record.platPartnerRealName != null">
        plat_partner_real_name = #{record.platPartnerRealName,jdbcType=VARCHAR},
      </if>
      <if test="record.clearDate != null">
        clear_date = #{record.clearDate,jdbcType=VARCHAR},
      </if>
      <if test="record.clearFileName != null">
        clear_file_name = #{record.clearFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.clearResultFileName != null">
        clear_result_file_name = #{record.clearResultFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.clearStatus != null">
        clear_status = #{record.clearStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.fileStatus != null">
        file_status = #{record.fileStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.clearTime != null">
        clear_time = #{record.clearTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.requestTime != null">
        request_time = #{record.requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawAddTime != null">
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null">
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update clear_dsgj_task_log
    set id = #{record.id,jdbcType=BIGINT},
      gid = #{record.gid,jdbcType=VARCHAR},
      biz_no = #{record.bizNo,jdbcType=VARCHAR},
      plat_partner_id = #{record.platPartnerId,jdbcType=VARCHAR},
      plat_partner_real_name = #{record.platPartnerRealName,jdbcType=VARCHAR},
      clear_date = #{record.clearDate,jdbcType=VARCHAR},
      clear_file_name = #{record.clearFileName,jdbcType=VARCHAR},
      clear_result_file_name = #{record.clearResultFileName,jdbcType=VARCHAR},
      clear_status = #{record.clearStatus,jdbcType=VARCHAR},
      file_status = #{record.fileStatus,jdbcType=VARCHAR},
      clear_time = #{record.clearTime,jdbcType=TIMESTAMP},
      request_time = #{record.requestTime,jdbcType=TIMESTAMP},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      comment = #{record.comment,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update clear_dsgj_task_log
    set id = #{record.id,jdbcType=BIGINT},
      gid = #{record.gid,jdbcType=VARCHAR},
      biz_no = #{record.bizNo,jdbcType=VARCHAR},
      plat_partner_id = #{record.platPartnerId,jdbcType=VARCHAR},
      plat_partner_real_name = #{record.platPartnerRealName,jdbcType=VARCHAR},
      clear_date = #{record.clearDate,jdbcType=VARCHAR},
      clear_file_name = #{record.clearFileName,jdbcType=VARCHAR},
      clear_result_file_name = #{record.clearResultFileName,jdbcType=VARCHAR},
      clear_status = #{record.clearStatus,jdbcType=VARCHAR},
      file_status = #{record.fileStatus,jdbcType=VARCHAR},
      clear_time = #{record.clearTime,jdbcType=TIMESTAMP},
      request_time = #{record.requestTime,jdbcType=TIMESTAMP},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>