<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.clear.ClearDsgjResultStatisticsDAO">
  <resultMap id="BaseResultMap" type="dal.model.clear.ClearDsgjResultStatisticsDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="plat_partner_id" jdbcType="VARCHAR" property="platPartnerId" />
    <result column="plat_partner_real_name" jdbcType="VARCHAR" property="platPartnerRealName" />
    <result column="clear_result_file_name" jdbcType="VARCHAR" property="clearResultFileName" />
    <result column="clear_date" jdbcType="VARCHAR" property="clearDate" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="trade_amount" jdbcType="BIGINT" property="tradeAmount" />
    <result column="trade_count" jdbcType="INTEGER" property="tradeCount" />
    <result column="order_amount" jdbcType="BIGINT" property="orderAmount" />
    <result column="payment_amount" jdbcType="BIGINT" property="paymentAmount" />
    <result column="coupon_amount" jdbcType="BIGINT" property="couponAmount" />
    <result column="share_amount" jdbcType="BIGINT" property="shareAmount" />
    <result column="advance_amount" jdbcType="BIGINT" property="advanceAmount" />
    <result column="fee_amount" jdbcType="BIGINT" property="feeAmount" />
    <result column="file_status" jdbcType="VARCHAR" property="fileStatus" />
    <result column="clear_status" jdbcType="VARCHAR" property="clearStatus" />
    <result column="raw_add_time" jdbcType="TIMESTAMP" property="rawAddTime" />
    <result column="raw_update_time" jdbcType="TIMESTAMP" property="rawUpdateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.clear.ClearDsgjResultStatisticsDO">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="plat_fee_amount" jdbcType="BINARY" property="platFeeAmount" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, plat_partner_id, plat_partner_real_name, clear_result_file_name, clear_date, 
    batch_no, trade_amount, trade_count, order_amount, payment_amount, coupon_amount, 
    share_amount, advance_amount, fee_amount, file_status, clear_status, raw_add_time, 
    raw_update_time
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    plat_fee_amount, comment
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="dal.model.clear.ClearDsgjResultStatisticsDOExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from clear_dsgj_result_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="dal.model.clear.ClearDsgjResultStatisticsDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clear_dsgj_result_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.clear.ClearDsgjResultStatisticsDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from clear_dsgj_result_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.clear.ClearDsgjResultStatisticsDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from clear_dsgj_result_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update clear_dsgj_result_statistics
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.platPartnerId != null">
        plat_partner_id = #{record.platPartnerId,jdbcType=VARCHAR},
      </if>
      <if test="record.platPartnerRealName != null">
        plat_partner_real_name = #{record.platPartnerRealName,jdbcType=VARCHAR},
      </if>
      <if test="record.clearResultFileName != null">
        clear_result_file_name = #{record.clearResultFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.clearDate != null">
        clear_date = #{record.clearDate,jdbcType=VARCHAR},
      </if>
      <if test="record.batchNo != null">
        batch_no = #{record.batchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeAmount != null">
        trade_amount = #{record.tradeAmount,jdbcType=BIGINT},
      </if>
      <if test="record.tradeCount != null">
        trade_count = #{record.tradeCount,jdbcType=INTEGER},
      </if>
      <if test="record.orderAmount != null">
        order_amount = #{record.orderAmount,jdbcType=BIGINT},
      </if>
      <if test="record.paymentAmount != null">
        payment_amount = #{record.paymentAmount,jdbcType=BIGINT},
      </if>
      <if test="record.couponAmount != null">
        coupon_amount = #{record.couponAmount,jdbcType=BIGINT},
      </if>
      <if test="record.shareAmount != null">
        share_amount = #{record.shareAmount,jdbcType=BIGINT},
      </if>
      <if test="record.advanceAmount != null">
        advance_amount = #{record.advanceAmount,jdbcType=BIGINT},
      </if>
      <if test="record.feeAmount != null">
        fee_amount = #{record.feeAmount,jdbcType=BIGINT},
      </if>
      <if test="record.fileStatus != null">
        file_status = #{record.fileStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.clearStatus != null">
        clear_status = #{record.clearStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null">
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null">
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.platFeeAmount != null">
        plat_fee_amount = #{record.platFeeAmount,jdbcType=BINARY},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update clear_dsgj_result_statistics
    set id = #{record.id,jdbcType=BIGINT},
      plat_partner_id = #{record.platPartnerId,jdbcType=VARCHAR},
      plat_partner_real_name = #{record.platPartnerRealName,jdbcType=VARCHAR},
      clear_result_file_name = #{record.clearResultFileName,jdbcType=VARCHAR},
      clear_date = #{record.clearDate,jdbcType=VARCHAR},
      batch_no = #{record.batchNo,jdbcType=VARCHAR},
      trade_amount = #{record.tradeAmount,jdbcType=BIGINT},
      trade_count = #{record.tradeCount,jdbcType=INTEGER},
      order_amount = #{record.orderAmount,jdbcType=BIGINT},
      payment_amount = #{record.paymentAmount,jdbcType=BIGINT},
      coupon_amount = #{record.couponAmount,jdbcType=BIGINT},
      share_amount = #{record.shareAmount,jdbcType=BIGINT},
      advance_amount = #{record.advanceAmount,jdbcType=BIGINT},
      fee_amount = #{record.feeAmount,jdbcType=BIGINT},
      file_status = #{record.fileStatus,jdbcType=VARCHAR},
      clear_status = #{record.clearStatus,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      plat_fee_amount = #{record.platFeeAmount,jdbcType=BINARY},
      comment = #{record.comment,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update clear_dsgj_result_statistics
    set id = #{record.id,jdbcType=BIGINT},
      plat_partner_id = #{record.platPartnerId,jdbcType=VARCHAR},
      plat_partner_real_name = #{record.platPartnerRealName,jdbcType=VARCHAR},
      clear_result_file_name = #{record.clearResultFileName,jdbcType=VARCHAR},
      clear_date = #{record.clearDate,jdbcType=VARCHAR},
      batch_no = #{record.batchNo,jdbcType=VARCHAR},
      trade_amount = #{record.tradeAmount,jdbcType=BIGINT},
      trade_count = #{record.tradeCount,jdbcType=INTEGER},
      order_amount = #{record.orderAmount,jdbcType=BIGINT},
      payment_amount = #{record.paymentAmount,jdbcType=BIGINT},
      coupon_amount = #{record.couponAmount,jdbcType=BIGINT},
      share_amount = #{record.shareAmount,jdbcType=BIGINT},
      advance_amount = #{record.advanceAmount,jdbcType=BIGINT},
      fee_amount = #{record.feeAmount,jdbcType=BIGINT},
      file_status = #{record.fileStatus,jdbcType=VARCHAR},
      clear_status = #{record.clearStatus,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>