<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.jhy.MSystemUserDAO">
  <resultMap id="BaseResultMap" type="dal.model.jhy.MSystemUserDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ENTITY_ID" jdbcType="BIGINT" property="entityId" />
    <result column="USRE_NAME" jdbcType="VARCHAR" property="usreName" />
    <result column="USRE_TYPE" jdbcType="VARCHAR" property="usreType" />
    <result column="SUPPLIER_ID" jdbcType="BIGINT" property="supplierId" />
    <result column="STATION_ID" jdbcType="VARCHAR" property="stationId" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="CREATED_USER" jdbcType="VARCHAR" property="createdUser" />
    <result column="MODIFIED_DATE" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="UPDATED_USER" jdbcType="VARCHAR" property="updatedUser" />
    <result column="VERSION_ID" jdbcType="BIGINT" property="versionId" />
    <result column="MARK_DELETE" jdbcType="VARCHAR" property="markDelete" />
    <result column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    <result column="USER_TELE" jdbcType="VARCHAR" property="userTele" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_ADDRESS" jdbcType="VARCHAR" property="userAddress" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="LOGIN_COUNT" jdbcType="INTEGER" property="loginCount" />
    <result column="LAST_IP" jdbcType="VARCHAR" property="lastIp" />
    <result column="LAST_TIME" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="IS_LOCKED" jdbcType="VARCHAR" property="isLocked" />
    <result column="USER_QQ_NO" jdbcType="VARCHAR" property="userQqNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ENTITY_ID, USRE_NAME, USRE_TYPE, SUPPLIER_ID, STATION_ID, PASSWORD, CREATED_DATE, 
    CREATED_USER, MODIFIED_DATE, UPDATED_USER, VERSION_ID, MARK_DELETE, REAL_NAME, USER_TELE, 
    USER_EMAIL, USER_ADDRESS, REMARK, LOGIN_COUNT, LAST_IP, LAST_TIME, IS_LOCKED, USER_QQ_NO
  </sql>
  <select id="selectByExample" parameterType="dal.model.jhy.MSystemUserDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from m_system_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.jhy.MSystemUserDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from m_system_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.jhy.MSystemUserDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from m_system_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update m_system_user
    <set>
      <if test="record.entityId != null">
        ENTITY_ID = #{record.entityId,jdbcType=BIGINT},
      </if>
      <if test="record.usreName != null">
        USRE_NAME = #{record.usreName,jdbcType=VARCHAR},
      </if>
      <if test="record.usreType != null">
        USRE_TYPE = #{record.usreType,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null">
        SUPPLIER_ID = #{record.supplierId,jdbcType=BIGINT},
      </if>
      <if test="record.stationId != null">
        STATION_ID = #{record.stationId,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDate != null">
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdUser != null">
        CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedUser != null">
        UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      </if>
      <if test="record.versionId != null">
        VERSION_ID = #{record.versionId,jdbcType=BIGINT},
      </if>
      <if test="record.markDelete != null">
        MARK_DELETE = #{record.markDelete,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null">
        REAL_NAME = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.userTele != null">
        USER_TELE = #{record.userTele,jdbcType=VARCHAR},
      </if>
      <if test="record.userEmail != null">
        USER_EMAIL = #{record.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.userAddress != null">
        USER_ADDRESS = #{record.userAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.loginCount != null">
        LOGIN_COUNT = #{record.loginCount,jdbcType=INTEGER},
      </if>
      <if test="record.lastIp != null">
        LAST_IP = #{record.lastIp,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTime != null">
        LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isLocked != null">
        IS_LOCKED = #{record.isLocked,jdbcType=VARCHAR},
      </if>
      <if test="record.userQqNo != null">
        USER_QQ_NO = #{record.userQqNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update m_system_user
    set ENTITY_ID = #{record.entityId,jdbcType=BIGINT},
      USRE_NAME = #{record.usreName,jdbcType=VARCHAR},
      USRE_TYPE = #{record.usreType,jdbcType=VARCHAR},
      SUPPLIER_ID = #{record.supplierId,jdbcType=BIGINT},
      STATION_ID = #{record.stationId,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      VERSION_ID = #{record.versionId,jdbcType=BIGINT},
      MARK_DELETE = #{record.markDelete,jdbcType=VARCHAR},
      REAL_NAME = #{record.realName,jdbcType=VARCHAR},
      USER_TELE = #{record.userTele,jdbcType=VARCHAR},
      USER_EMAIL = #{record.userEmail,jdbcType=VARCHAR},
      USER_ADDRESS = #{record.userAddress,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      LOGIN_COUNT = #{record.loginCount,jdbcType=INTEGER},
      LAST_IP = #{record.lastIp,jdbcType=VARCHAR},
      LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP},
      IS_LOCKED = #{record.isLocked,jdbcType=VARCHAR},
      USER_QQ_NO = #{record.userQqNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>