<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.jhy.TConsumeDetailDAO">
  <resultMap id="BaseResultMap" type="dal.model.jhy.TConsumeDetailDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SERIAL_NO" jdbcType="VARCHAR" property="serialNo" />
    <result column="CONSUME_TYPE" jdbcType="VARCHAR" property="consumeType" />
    <result column="OIL_GUN_NO" jdbcType="VARCHAR" property="oilGunNo" />
    <result column="CONSUME_AMOUNT" jdbcType="BIGINT" property="consumeAmount" />
    <result column="PRESENT_AMOUNT" jdbcType="BIGINT" property="presentAmount" />
    <result column="REAL_AMOUNT" jdbcType="BIGINT" property="realAmount" />
    <result column="PAY_TYPE" jdbcType="VARCHAR" property="payType" />
    <result column="OIL_STATION" jdbcType="VARCHAR" property="oilStation" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="MODIFIED_DATE" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="CREATED_USER" jdbcType="VARCHAR" property="createdUser" />
    <result column="UPDATED_USER" jdbcType="VARCHAR" property="updatedUser" />
    <result column="VERSION_ID" jdbcType="BIGINT" property="versionId" />
    <result column="MARK_DELETE" jdbcType="CHAR" property="markDelete" />
    <result column="THIRD_SERIAL_NO" jdbcType="VARCHAR" property="thirdSerialNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    SERIAL_NO, CONSUME_TYPE, OIL_GUN_NO, CONSUME_AMOUNT, PRESENT_AMOUNT, REAL_AMOUNT, 
    PAY_TYPE, OIL_STATION, OPERATOR, CREATED_DATE, MODIFIED_DATE, CREATED_USER, UPDATED_USER, 
    VERSION_ID, MARK_DELETE, THIRD_SERIAL_NO
  </sql>
  <select id="selectByExample" parameterType="dal.model.jhy.TConsumeDetailDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_consume_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.jhy.TConsumeDetailDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from t_consume_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.jhy.TConsumeDetailDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from t_consume_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update t_consume_detail
    <set>
      <if test="record.serialNo != null">
        SERIAL_NO = #{record.serialNo,jdbcType=VARCHAR},
      </if>
      <if test="record.consumeType != null">
        CONSUME_TYPE = #{record.consumeType,jdbcType=VARCHAR},
      </if>
      <if test="record.oilGunNo != null">
        OIL_GUN_NO = #{record.oilGunNo,jdbcType=VARCHAR},
      </if>
      <if test="record.consumeAmount != null">
        CONSUME_AMOUNT = #{record.consumeAmount,jdbcType=BIGINT},
      </if>
      <if test="record.presentAmount != null">
        PRESENT_AMOUNT = #{record.presentAmount,jdbcType=BIGINT},
      </if>
      <if test="record.realAmount != null">
        REAL_AMOUNT = #{record.realAmount,jdbcType=BIGINT},
      </if>
      <if test="record.payType != null">
        PAY_TYPE = #{record.payType,jdbcType=VARCHAR},
      </if>
      <if test="record.oilStation != null">
        OIL_STATION = #{record.oilStation,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null">
        OPERATOR = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDate != null">
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedDate != null">
        MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdUser != null">
        CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedUser != null">
        UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      </if>
      <if test="record.versionId != null">
        VERSION_ID = #{record.versionId,jdbcType=BIGINT},
      </if>
      <if test="record.markDelete != null">
        MARK_DELETE = #{record.markDelete,jdbcType=CHAR},
      </if>
      <if test="record.thirdSerialNo != null">
        THIRD_SERIAL_NO = #{record.thirdSerialNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update t_consume_detail
    set SERIAL_NO = #{record.serialNo,jdbcType=VARCHAR},
      CONSUME_TYPE = #{record.consumeType,jdbcType=VARCHAR},
      OIL_GUN_NO = #{record.oilGunNo,jdbcType=VARCHAR},
      CONSUME_AMOUNT = #{record.consumeAmount,jdbcType=BIGINT},
      PRESENT_AMOUNT = #{record.presentAmount,jdbcType=BIGINT},
      REAL_AMOUNT = #{record.realAmount,jdbcType=BIGINT},
      PAY_TYPE = #{record.payType,jdbcType=VARCHAR},
      OIL_STATION = #{record.oilStation,jdbcType=VARCHAR},
      OPERATOR = #{record.operator,jdbcType=VARCHAR},
      CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      VERSION_ID = #{record.versionId,jdbcType=BIGINT},
      MARK_DELETE = #{record.markDelete,jdbcType=CHAR},
      THIRD_SERIAL_NO = #{record.thirdSerialNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>