<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.jhy.TSettlementHeadDAO">
  <resultMap id="BaseResultMap" type="dal.model.jhy.TSettlementHeadDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="total_money" jdbcType="INTEGER" property="totalMoney" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="oil_money" jdbcType="INTEGER" property="oilMoney" />
    <result column="oil_count" jdbcType="INTEGER" property="oilCount" />
    <result column="non_money" jdbcType="INTEGER" property="nonMoney" />
    <result column="non_count" jdbcType="INTEGER" property="nonCount" />
    <result column="refund_money" jdbcType="INTEGER" property="refundMoney" />
    <result column="refund_count" jdbcType="INTEGER" property="refundCount" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="modified_date" jdbcType="VARCHAR" property="modifiedDate" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="updated_user" jdbcType="VARCHAR" property="updatedUser" />
    <result column="version_id" jdbcType="INTEGER" property="versionId" />
    <result column="mark_delete" jdbcType="VARCHAR" property="markDelete" />
    <result column="coupon_amount" jdbcType="BIGINT" property="couponAmount" />
    <result column="coupon_count" jdbcType="BIGINT" property="couponCount" />
    <result column="vol" jdbcType="DOUBLE" property="vol" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, total_money, total_count, oil_money, oil_count, non_money, non_count, 
    refund_money, refund_count, start_time, end_time, created_date, modified_date, created_user, 
    updated_user, version_id, mark_delete, coupon_amount, coupon_count, vol
  </sql>
  <select id="selectByExample" parameterType="dal.model.jhy.TSettlementHeadDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_settlement_head
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.jhy.TSettlementHeadDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from t_settlement_head
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.jhy.TSettlementHeadDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from t_settlement_head
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update t_settlement_head
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.totalMoney != null">
        total_money = #{record.totalMoney,jdbcType=INTEGER},
      </if>
      <if test="record.totalCount != null">
        total_count = #{record.totalCount,jdbcType=INTEGER},
      </if>
      <if test="record.oilMoney != null">
        oil_money = #{record.oilMoney,jdbcType=INTEGER},
      </if>
      <if test="record.oilCount != null">
        oil_count = #{record.oilCount,jdbcType=INTEGER},
      </if>
      <if test="record.nonMoney != null">
        non_money = #{record.nonMoney,jdbcType=INTEGER},
      </if>
      <if test="record.nonCount != null">
        non_count = #{record.nonCount,jdbcType=INTEGER},
      </if>
      <if test="record.refundMoney != null">
        refund_money = #{record.refundMoney,jdbcType=INTEGER},
      </if>
      <if test="record.refundCount != null">
        refund_count = #{record.refundCount,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdDate != null">
        created_date = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=VARCHAR},
      </if>
      <if test="record.createdUser != null">
        created_user = #{record.createdUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedUser != null">
        updated_user = #{record.updatedUser,jdbcType=VARCHAR},
      </if>
      <if test="record.versionId != null">
        version_id = #{record.versionId,jdbcType=INTEGER},
      </if>
      <if test="record.markDelete != null">
        mark_delete = #{record.markDelete,jdbcType=VARCHAR},
      </if>
      <if test="record.couponAmount != null">
        coupon_amount = #{record.couponAmount,jdbcType=BIGINT},
      </if>
      <if test="record.couponCount != null">
        coupon_count = #{record.couponCount,jdbcType=BIGINT},
      </if>
      <if test="record.vol != null">
        vol = #{record.vol,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update t_settlement_head
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      total_money = #{record.totalMoney,jdbcType=INTEGER},
      total_count = #{record.totalCount,jdbcType=INTEGER},
      oil_money = #{record.oilMoney,jdbcType=INTEGER},
      oil_count = #{record.oilCount,jdbcType=INTEGER},
      non_money = #{record.nonMoney,jdbcType=INTEGER},
      non_count = #{record.nonCount,jdbcType=INTEGER},
      refund_money = #{record.refundMoney,jdbcType=INTEGER},
      refund_count = #{record.refundCount,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      created_date = #{record.createdDate,jdbcType=TIMESTAMP},
      modified_date = #{record.modifiedDate,jdbcType=VARCHAR},
      created_user = #{record.createdUser,jdbcType=VARCHAR},
      updated_user = #{record.updatedUser,jdbcType=VARCHAR},
      version_id = #{record.versionId,jdbcType=INTEGER},
      mark_delete = #{record.markDelete,jdbcType=VARCHAR},
      coupon_amount = #{record.couponAmount,jdbcType=BIGINT},
      coupon_count = #{record.couponCount,jdbcType=BIGINT},
      vol = #{record.vol,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>