<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.jhy.YCouponCustomerDAO">
  <resultMap id="BaseResultMap" type="dal.model.jhy.YCouponCustomerDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ENTITY_ID" jdbcType="BIGINT" property="entityId" />
    <result column="PLATFORM_ID" jdbcType="DECIMAL" property="platformId" />
    <result column="SUPPLIER_HEAD_ID" jdbcType="DECIMAL" property="supplierHeadId" />
    <result column="SHOP_HEAD_ID" jdbcType="DECIMAL" property="shopHeadId" />
    <result column="ENTITY_TYPE" jdbcType="VARCHAR" property="entityType" />
    <result column="ENTITY_USE_ID" jdbcType="VARCHAR" property="entityUseId" />
    <result column="COUPON_HEAD_ID" jdbcType="DECIMAL" property="couponHeadId" />
    <result column="COUPON_CODE" jdbcType="VARCHAR" property="couponCode" />
    <result column="LAUNCH_ID" jdbcType="VARCHAR" property="launchId" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="MODIFIED_DATE" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="CREATED_USER" jdbcType="VARCHAR" property="createdUser" />
    <result column="UPDATED_USER" jdbcType="VARCHAR" property="updatedUser" />
    <result column="VERSION_ID" jdbcType="INTEGER" property="versionId" />
    <result column="MARK_DELETE" jdbcType="CHAR" property="markDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ENTITY_ID, PLATFORM_ID, SUPPLIER_HEAD_ID, SHOP_HEAD_ID, ENTITY_TYPE, ENTITY_USE_ID, 
    COUPON_HEAD_ID, COUPON_CODE, LAUNCH_ID, CREATED_DATE, MODIFIED_DATE, CREATED_USER, 
    UPDATED_USER, VERSION_ID, MARK_DELETE
  </sql>
  <select id="selectByExample" parameterType="dal.model.jhy.YCouponCustomerDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from y_coupon_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.jhy.YCouponCustomerDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from y_coupon_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.jhy.YCouponCustomerDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from y_coupon_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update y_coupon_customer
    <set>
      <if test="record.entityId != null">
        ENTITY_ID = #{record.entityId,jdbcType=BIGINT},
      </if>
      <if test="record.platformId != null">
        PLATFORM_ID = #{record.platformId,jdbcType=DECIMAL},
      </if>
      <if test="record.supplierHeadId != null">
        SUPPLIER_HEAD_ID = #{record.supplierHeadId,jdbcType=DECIMAL},
      </if>
      <if test="record.shopHeadId != null">
        SHOP_HEAD_ID = #{record.shopHeadId,jdbcType=DECIMAL},
      </if>
      <if test="record.entityType != null">
        ENTITY_TYPE = #{record.entityType,jdbcType=VARCHAR},
      </if>
      <if test="record.entityUseId != null">
        ENTITY_USE_ID = #{record.entityUseId,jdbcType=VARCHAR},
      </if>
      <if test="record.couponHeadId != null">
        COUPON_HEAD_ID = #{record.couponHeadId,jdbcType=DECIMAL},
      </if>
      <if test="record.couponCode != null">
        COUPON_CODE = #{record.couponCode,jdbcType=VARCHAR},
      </if>
      <if test="record.launchId != null">
        LAUNCH_ID = #{record.launchId,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDate != null">
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedDate != null">
        MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdUser != null">
        CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedUser != null">
        UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      </if>
      <if test="record.versionId != null">
        VERSION_ID = #{record.versionId,jdbcType=INTEGER},
      </if>
      <if test="record.markDelete != null">
        MARK_DELETE = #{record.markDelete,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update y_coupon_customer
    set ENTITY_ID = #{record.entityId,jdbcType=BIGINT},
      PLATFORM_ID = #{record.platformId,jdbcType=DECIMAL},
      SUPPLIER_HEAD_ID = #{record.supplierHeadId,jdbcType=DECIMAL},
      SHOP_HEAD_ID = #{record.shopHeadId,jdbcType=DECIMAL},
      ENTITY_TYPE = #{record.entityType,jdbcType=VARCHAR},
      ENTITY_USE_ID = #{record.entityUseId,jdbcType=VARCHAR},
      COUPON_HEAD_ID = #{record.couponHeadId,jdbcType=DECIMAL},
      COUPON_CODE = #{record.couponCode,jdbcType=VARCHAR},
      LAUNCH_ID = #{record.launchId,jdbcType=VARCHAR},
      CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      UPDATED_USER = #{record.updatedUser,jdbcType=VARCHAR},
      VERSION_ID = #{record.versionId,jdbcType=INTEGER},
      MARK_DELETE = #{record.markDelete,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>