<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.gas_merchant.DListDAO">
  <resultMap id="BaseResultMap" type="dal.model.gas_merchant.DListDO">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name1" jdbcType="VARCHAR" property="name1" />
    <result column="c1" jdbcType="VARCHAR" property="c1" />
    <result column="c2" jdbcType="VARCHAR" property="c2" />
    <result column="c3" jdbcType="VARCHAR" property="c3" />
    <result column="c4" jdbcType="VARCHAR" property="c4" />
    <result column="c5" jdbcType="VARCHAR" property="c5" />
    <result column="c6" jdbcType="VARCHAR" property="c6" />
    <result column="c7" jdbcType="VARCHAR" property="c7" />
    <result column="c8" jdbcType="VARCHAR" property="c8" />
    <result column="c9" jdbcType="VARCHAR" property="c9" />
    <result column="c10" jdbcType="VARCHAR" property="c10" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    name, name1, c1, c2, c3, c4, c5, c6, c7, c8, c9, c10
  </sql>
  <select id="selectByExample" parameterType="dal.model.gas_merchant.DListDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from d_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.gas_merchant.DListDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from d_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.gas_merchant.DListDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from d_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update d_list
    <set>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.name1 != null">
        name1 = #{record.name1,jdbcType=VARCHAR},
      </if>
      <if test="record.c1 != null">
        c1 = #{record.c1,jdbcType=VARCHAR},
      </if>
      <if test="record.c2 != null">
        c2 = #{record.c2,jdbcType=VARCHAR},
      </if>
      <if test="record.c3 != null">
        c3 = #{record.c3,jdbcType=VARCHAR},
      </if>
      <if test="record.c4 != null">
        c4 = #{record.c4,jdbcType=VARCHAR},
      </if>
      <if test="record.c5 != null">
        c5 = #{record.c5,jdbcType=VARCHAR},
      </if>
      <if test="record.c6 != null">
        c6 = #{record.c6,jdbcType=VARCHAR},
      </if>
      <if test="record.c7 != null">
        c7 = #{record.c7,jdbcType=VARCHAR},
      </if>
      <if test="record.c8 != null">
        c8 = #{record.c8,jdbcType=VARCHAR},
      </if>
      <if test="record.c9 != null">
        c9 = #{record.c9,jdbcType=VARCHAR},
      </if>
      <if test="record.c10 != null">
        c10 = #{record.c10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update d_list
    set name = #{record.name,jdbcType=VARCHAR},
      name1 = #{record.name1,jdbcType=VARCHAR},
      c1 = #{record.c1,jdbcType=VARCHAR},
      c2 = #{record.c2,jdbcType=VARCHAR},
      c3 = #{record.c3,jdbcType=VARCHAR},
      c4 = #{record.c4,jdbcType=VARCHAR},
      c5 = #{record.c5,jdbcType=VARCHAR},
      c6 = #{record.c6,jdbcType=VARCHAR},
      c7 = #{record.c7,jdbcType=VARCHAR},
      c8 = #{record.c8,jdbcType=VARCHAR},
      c9 = #{record.c9,jdbcType=VARCHAR},
      c10 = #{record.c10,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>