<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.gas_marketpc.GivePointsDetailDAO">
  <resultMap id="BaseResultMap" type="dal.model.gas_marketpc.GivePointsDetailDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="give_biz_no" jdbcType="VARCHAR" property="giveBizNo" />
    <result column="gid" jdbcType="VARCHAR" property="gid" />
    <result column="partner_id" jdbcType="VARCHAR" property="partnerId" />
    <result column="plat_partner_id" jdbcType="VARCHAR" property="platPartnerId" />
    <result column="campaign_no" jdbcType="VARCHAR" property="campaignNo" />
    <result column="campaign_type" jdbcType="VARCHAR" property="campaignType" />
    <result column="campaign_name" jdbcType="VARCHAR" property="campaignName" />
    <result column="promotion_way" jdbcType="VARCHAR" property="promotionWay" />
    <result column="rule_id" jdbcType="BIGINT" property="ruleId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="account_tag" jdbcType="VARCHAR" property="accountTag" />
    <result column="market_user" jdbcType="VARCHAR" property="marketUser" />
    <result column="point_scheme_no" jdbcType="VARCHAR" property="pointSchemeNo" />
    <result column="point_details" jdbcType="VARCHAR" property="pointDetails" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="points" jdbcType="BIGINT" property="points" />
    <result column="station_id" jdbcType="VARCHAR" property="stationId" />
    <result column="station_name" jdbcType="VARCHAR" property="stationName" />
    <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="terminal_type" jdbcType="VARCHAR" property="terminalType" />
    <result column="terminal_code" jdbcType="VARCHAR" property="terminalCode" />
    <result column="raw_add_time" jdbcType="TIMESTAMP" property="rawAddTime" />
    <result column="raw_update_time" jdbcType="TIMESTAMP" property="rawUpdateTime" />
    <result column="group_no" jdbcType="VARCHAR" property="groupNo" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="partake_user_id" jdbcType="VARCHAR" property="partakeUserId" />
    <result column="partake_user" jdbcType="VARCHAR" property="partakeUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, event_id, give_biz_no, gid, partner_id, plat_partner_id, campaign_no, campaign_type, 
    campaign_name, promotion_way, rule_id, user_id, account_tag, market_user, point_scheme_no, 
    point_details, status, points, station_id, station_name, operator_id, operator_name, 
    terminal_type, terminal_code, raw_add_time, raw_update_time, group_no, group_name, 
    partake_user_id, partake_user
  </sql>
  <select id="selectByExample" parameterType="dal.model.gas_marketpc.GivePointsDetailDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from give_points_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.gas_marketpc.GivePointsDetailDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from give_points_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.gas_marketpc.GivePointsDetailDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from give_points_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update give_points_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.eventId != null">
        event_id = #{record.eventId,jdbcType=VARCHAR},
      </if>
      <if test="record.giveBizNo != null">
        give_biz_no = #{record.giveBizNo,jdbcType=VARCHAR},
      </if>
      <if test="record.gid != null">
        gid = #{record.gid,jdbcType=VARCHAR},
      </if>
      <if test="record.partnerId != null">
        partner_id = #{record.partnerId,jdbcType=VARCHAR},
      </if>
      <if test="record.platPartnerId != null">
        plat_partner_id = #{record.platPartnerId,jdbcType=VARCHAR},
      </if>
      <if test="record.campaignNo != null">
        campaign_no = #{record.campaignNo,jdbcType=VARCHAR},
      </if>
      <if test="record.campaignType != null">
        campaign_type = #{record.campaignType,jdbcType=VARCHAR},
      </if>
      <if test="record.campaignName != null">
        campaign_name = #{record.campaignName,jdbcType=VARCHAR},
      </if>
      <if test="record.promotionWay != null">
        promotion_way = #{record.promotionWay,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleId != null">
        rule_id = #{record.ruleId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.accountTag != null">
        account_tag = #{record.accountTag,jdbcType=VARCHAR},
      </if>
      <if test="record.marketUser != null">
        market_user = #{record.marketUser,jdbcType=VARCHAR},
      </if>
      <if test="record.pointSchemeNo != null">
        point_scheme_no = #{record.pointSchemeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.pointDetails != null">
        point_details = #{record.pointDetails,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.points != null">
        points = #{record.points,jdbcType=BIGINT},
      </if>
      <if test="record.stationId != null">
        station_id = #{record.stationId,jdbcType=VARCHAR},
      </if>
      <if test="record.stationName != null">
        station_name = #{record.stationName,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorId != null">
        operator_id = #{record.operatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorName != null">
        operator_name = #{record.operatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.terminalType != null">
        terminal_type = #{record.terminalType,jdbcType=VARCHAR},
      </if>
      <if test="record.terminalCode != null">
        terminal_code = #{record.terminalCode,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null">
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null">
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.groupNo != null">
        group_no = #{record.groupNo,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null">
        group_name = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.partakeUserId != null">
        partake_user_id = #{record.partakeUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.partakeUser != null">
        partake_user = #{record.partakeUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update give_points_detail
    set id = #{record.id,jdbcType=BIGINT},
      event_id = #{record.eventId,jdbcType=VARCHAR},
      give_biz_no = #{record.giveBizNo,jdbcType=VARCHAR},
      gid = #{record.gid,jdbcType=VARCHAR},
      partner_id = #{record.partnerId,jdbcType=VARCHAR},
      plat_partner_id = #{record.platPartnerId,jdbcType=VARCHAR},
      campaign_no = #{record.campaignNo,jdbcType=VARCHAR},
      campaign_type = #{record.campaignType,jdbcType=VARCHAR},
      campaign_name = #{record.campaignName,jdbcType=VARCHAR},
      promotion_way = #{record.promotionWay,jdbcType=VARCHAR},
      rule_id = #{record.ruleId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=VARCHAR},
      account_tag = #{record.accountTag,jdbcType=VARCHAR},
      market_user = #{record.marketUser,jdbcType=VARCHAR},
      point_scheme_no = #{record.pointSchemeNo,jdbcType=VARCHAR},
      point_details = #{record.pointDetails,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      points = #{record.points,jdbcType=BIGINT},
      station_id = #{record.stationId,jdbcType=VARCHAR},
      station_name = #{record.stationName,jdbcType=VARCHAR},
      operator_id = #{record.operatorId,jdbcType=VARCHAR},
      operator_name = #{record.operatorName,jdbcType=VARCHAR},
      terminal_type = #{record.terminalType,jdbcType=VARCHAR},
      terminal_code = #{record.terminalCode,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      group_no = #{record.groupNo,jdbcType=VARCHAR},
      group_name = #{record.groupName,jdbcType=VARCHAR},
      partake_user_id = #{record.partakeUserId,jdbcType=VARCHAR},
      partake_user = #{record.partakeUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>